:root{
    --soft-red: #cbcbcb;
    --orange: #000000;
    --dark-desaturated: hwb(238 11% 43%);
    --dark-blue: hsl(0, 0%, 0%);
    --dark-moderate: #827df6;
    --dark-grayish-blue: #f9f5f2;
    --white: #ffffff;
    --very-dark-grayish-blue: #adadad;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.header{
    background-color:var(--soft-red) ;
    height: 100vh;
    width: 100%;
    padding: 1rem 1rem 0;
    overflow: hidden;
}

.nav{
    background-color: transparent;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
}

.nav>img{
    height: 34px;
    width: 34px;
}

.menu_movile{
    background-color: transparent;
    border: none;
}

.nav-menu{
    list-style: none;
    width: 95%;
    height: 65%;
    position: absolute;
    text-align: center;
    background-color: var(--dark-desaturated);
    padding: 1.5rem;
    border-radius: 15px;
    z-index: -1;
    margin-top: 50px;
}

.nav-menu__visibility{
    z-index: 2;
}

.nav-menu-direc{
    background: transparent;
    border: none;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

.nav-menu-item{
    text-decoration: none;
    margin: 2.5rem 0;
    padding: 0.5rem;
    height: 35px;
}

.nav-menu-item:hover{
    box-shadow: 4px 4px 4px var(--orange);
    background-color: var(--orange);
    border-radius: 6px;
    cursor: pointer;
}

.nav-menu-direc:hover{
    color:var(--dark-moderate);
    transition: color 0.5s;
}

#icon-menu_img{
    position: relative;
    left: 21%;
    bottom: 39px;
}

.header-presentacion{
    text-align: start;
}

.nav-title{
    font-size: 55px;
    letter-spacing: 0.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    -webkit-text-stroke: 2px black; 
    color: var(--white);
}

.nav-menu-item_contenedor{
    display: flex;
    flex-direction: column;
}

.nav-menu-item_redes{
    display: flex;
    justify-content: center;
}

.nav--menu-item_redes{
    width: 50px; 
    height: 50px; 
    border: 3px solid var(--white); 
    background: var(--orange);
    transform: rotate(45deg) skew(15deg, 15deg);
    transition: 1s;
    position: relative;
}

.nav--menu-item_redes__icon{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    align-items: baseline;
}

.nav--menu-item_redes__icon>img{
    position: relative;
    top: -41px;
    left: 11px;
}

.nav--menu-item_redes:hover{
    transform: rotate(360deg);
}


.nav--menu-item_redes>img{
    position: absolute;
    background-color: var(--dark-desaturated);
}

.nav--menu-item_img{
    position: relative;
}

.nav--menu-item_img>img{
    position: relative;
    z-index: 1;
    height: 542px;
    right: -19%;
}


.nav-menu-figura{
    width: 230px; 
    height: 230px; 
    border: 3px solid var(--dark-desaturated); 
    background: var(--dark-desaturated);
    transform: rotate(45deg) skew(15deg, 15deg);
    position: absolute;
    top: 15%;
    left: 54%;
}

/*
#nav-manu.img{
    position: absolute;
}
*/

.section-Acerca_de_mí{
    margin: 20px 0 20px;
    padding: 1rem;
    background-color: var(--white);
    width: 100%;
    height: 50%;
    align-items: center;
}

.Acerca_d_mi_cont{
    margin-bottom: 1.5rem;
}

.article-Acerca_de_mí--titule{
    color: var(--dark-desaturated);
    font-weight: 30px;
    font-size: 30px;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
}

.article-Acerca_de_mí{
    color: var(--very-dark-grayish-blue);
}

.section-Mis_habilidades{
    background-color: var(--white);
    width: 100%;
    height: 50vh;
    padding: 1rem;
}

.section-Mis_habilidades--tilulo{
    color: var(--dark-moderate);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
    position: relative;
    margin-top: 1.5rem;
}

.section-Mis_habilidades--tilulo>span{
    color: var(--dark-moderate);
}

.contenedor{
    display: flex;
    flex-direction: row;
    position:absolute;
    width: 97%;
}

.section-Mis_habilidades--figura1{
    width: 0;
    height: 0;
    border-left: 200px solid var(--dark-desaturated);
    border-bottom: 200px solid transparent;
    border-top: 200px solid transparent;
    list-style: none;
    position: absolute;
}

.section-Mis_habilidades--figura2{
    width: 0;
    height: 0;
    border-bottom: 70px solid transparent;
    border-right: 70px solid var(--orange);
    border-top: 70px solid transparent;
    list-style: none;
    margin-left: 46px;
    position: relative;
    top: 40px;
}

.section-Mis_habilidades-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    text-align: start;
    color: var(--dark-desaturated);
    width: 83%;
    padding-bottom: 0.5rem;
    overflow-x: scroll;
    background-color: var(--white); 
}

    ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--very-dark-grayish-blue);
  }

.section-articleMis_habilidades-cont{
    background-color: var(--soft-red);
    width: 25vh;
    height: 30vh;
    padding: 1.5rem;
    font-size: 14px;
}

.section-article-title{
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.section-article-title>img{
    width: 25px;
    height: 25px;
}

.section--article-Experiencia{
    padding: 1rem;
    background-color: var(--white);
    width: 100%;
    height: 70vh;
}

.article-Acerca_de_mí-title{
   color: var(--very-dark-grayish-blue);
   font-weight: bold;
   font-size: medium;
   margin-bottom: 1rem;
   background-color: var(--soft-red);
}

.section--article-Experiencia_title{
    color: var(--dark-desaturated);
    font-size: 30px;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
}

.section--article-Experiencia--container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 50vh;
    gap: 1.5rem;
    padding: 1.5rem;
}

.section--article-Experiencia_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.section--article-Experiencia_info>img{
    height: 80px;
    width: 80px;
    transition: 1s;
}

.section--article-Experiencia_info>img:hover{
    transform: rotate(360deg);
}

.section--article-Experiencia_info1{
    color: var(--dark-blue);
    font-size: 20px;
}

.section--article-Experiencia_info2{
    color: var(--very-dark-grayish-blue);
    font-size:medium 
}

.Años{
    font-size: small;
    color: hsl(231, 7%, 60%);
}

.section--article-Experiencia_info3{
    color: var(--very-dark-grayish-blue);
    font-size: 20px;
}

.section--article-Portafolio{
    background-color: var(--dark-desaturated);
    width: 100%;
    height: 80vh;
    color: var(--white);
    text-align: start;
    font-size: 20px;
    padding: 1rem;
}

.section--article-Portafolio_cont{
    width: 75%;
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
    border-radius: 1rem;
    box-shadow: inset 2px 1px hsl(232, 6%, 51%);
    position: relative;
    padding: 2rem;
    top: -100px;
    left: 13%;
    font-size: 20px;
}

.section--article-Portafolio_cont>p{
    margin-top: 1rem;
    font-weight: bold;
}

.cont2{
    box-shadow: 2px 2px 1px hsl(232, 6%, 51%);
    top: 3%;
    left: 13%;
}

.section--article-Portafolio_title{   
    font-size: 30px;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
}

.total{
    position: relative;
}

.figura3{
    width: 0; 
    height: 0; 
    border-left: 185px solid var(--dark-moderate);
    border-bottom: 185px solid transparent;
    border-top: 185px solid transparent;
    position: relative;
    top: 450px;
}

.section-Contacto{
    width: 100%;
    height: 50vh;
    background-color: var(--white);
    margin-top: 5%;
    padding: 1rem;
    color: var(--very-dark-grayish-blue);
}

.section--Contacto_title{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
    color: var(--dark-desaturated);
}

.contacto-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: absolute;
    right: 20px;
}


.section--Contacto_cont{
    padding: 2.5rem;
    text-align: center;
    justify-content: center;
    color: var(--dark-blue);
}

.section--Contacto_figura5{
    width: 70px; 
    height: 70px; 
    border: 3px solid var(--white); 
    background: var(--orange);
    transform: rotate(45deg) skew(15deg, 15deg);
    transition: 1s;
}

.section--Contacto_figura5:hover{
    transform: rotate(360deg);
}


.section--Contacto_forma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section--Contacto_forma>img{
    width: 30px; 
    height: 30px;
    position: absolute;
    transform: none;
}

.section--Contacto_title1{
    color: var(--dark-desaturated);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.section--Contacto_figura4{
    width: 70px; 
    height: 70px; 
    border: 3px solid var(--white); 
    background: var(--orange);
    transform: rotate(45deg) skew(15deg, 15deg);
    transition: 1s;
}

.section--Contacto_figura4:hover{
    transform: rotate(360deg);
}

.section--footer{
    background-color: var(--white);
    color: var(--orange);
    text-align: center;
    font-size: 20px;
    padding: 1rem;
}


.link-de-contacto{
    text-decoration: none;
    color: var(--orange);
    font-weight: bold;
    transition: 0.5s;
}

.link-de-contacto:hover{
    color: var(--dark-desaturated);
}

